body {
    padding: 0px;
    margin: 0px;
}

.scrollBar::-webkit-scrollbar {
    width: 0.5em;
}

.scrollBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollBar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#logo a:link {
    text-decoration: none;
    color: #8A2BE2;
}

#logo a:visited {
    text-decoration: none;
    color: #8A2BE2;
}

#logo a:hover {
    text-decoration: none;
    color: #8A2BE2;
}

#logo a:active {
    text-decoration: none;
    color: #8A2BE2;
}

#logo {
    width: 99.85%;
    height: 50px;
    border: 1px solid gray;
    box-shadow: 0px 0px 4px gray;
}

#logo:first-child {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8A2BE2;
    font-size: 225%;
}

#logo::first-letter {
    color: darkcyan;
}

#content {
    margin-top: 1%;
    width: 60%;
    box-shadow: 4px 2px 4px 2px lightgray;
    height: 70%;
    max-height: 80%;
    position: absolute;
    top: 10%;
    right: 20%;
}

#content table {
    width: 100%;
    height: auto;
    max-height: 40%;
    border: 1px solid lightgray;
}

#content table .Title_Content {
    text-align: center;
    color: midnightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 130%;
    padding: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: slateblue;
    opacity: 0.8;
}

.Value_Content {
    text-align: center;
    color: midnightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75%;
    border: solid 1px gray;
    max-height: 50%;
}

.Value_Content:hover {
    background-color: lightgray;
    color: #fff;
}

/* New Employee Style @use some class for other forms */
.NewForm {
    border: 1px solid gray;
    width: 50%;

    background-color: #f5f3f3;
    padding: 2%;
    margin: 2%;
    height: auto;
}

.form-ctrl {
    width: 100%;
    margin: 2px;
}

.form-ctrl label {
    float: left;
    width: 35%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.form-ctrl input[type=text], select {
    float: right;
    width: 35%;
    height: 20px;
}

#submit_data {
    width: 25%;
    height: 35px;
    margin-top: 5%;
}

.redAlert {
    color: red;
}

/*New department style */
.title_NewDep {
    color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid gray;
    width: 35%;
    border-radius: 3pc;
    text-indent: 2%;
    margin: 2%;
    background-color: white;
}

.NewDepForm {
    border: 1px solid gray;
    width: 60%;
    margin: 2%;
    height: 60%;
    background-color: whitesmoke;
}

.form-ctrl-dep {
    width: 100%;
    height: 30%;
    margin: 2%;
}

.form-ctrl-dep label {
    float: left;
    width: 50%;
    font-family: Leelawadee;
    margin: 1%;
}

.form-ctrl-dep textarea, input[type=text] {
    float: inherit;
    width: 50%;
    font-family: Leelawadee;
    margin: 1%;
    max-width: 40%;
    max-height: 45px;
}

.form-ctrl-dep input[type=button] {
    padding: 1%;
    color: white;
    background-color: limegreen;
    border: gray 1px solid;
    cursor: pointer;
}